@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f7ece2;
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-items: center;
    font-size: 20px;
    min-height: 100vh;
    width: 100vw;
}

body a {
    text-decoration: none;
}

#main_container {
    display: flex;
    align-items: center;
    background-color: #808080;
    padding: 50px;
    border-radius: 20px;
    margin: 20px;
    font-size: 15px;
}

#main_container img {
    width: 80px;
    height: 80px;
}

.col img {
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card-body {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    background-color: rgba(202, 114, 41, 0.356);

}

.texto_relleno {
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

.card-footer {
    text-align: center;
}

/* NAVBAR */

h1 {
    background-color: #ff000033;
    margin-bottom: 0px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 100px;
    border-radius: 50%;
    box-shadow: 5px 5px #000000a8;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
}

li {
    list-style: none;

}

li a {
    text-decoration: none;


}

header {
    background-color: #808080;
}

#carrito_button img {
    max-width: 50px;

}

#carrito_button img:hover {
    transform: scale(1.3);
    transition: 1s;
}

span {
    color: rgb(255, 255, 255);
    padding-left: 10px;
}

#titulo {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


button {
    padding: 8px 60px;
    background: #269e16d8;
    border: none;
    color: #ffffff;
    border-radius: 30px;
    align-self: center;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 15px;
}

#about_button {
    background-color: rgb(0, 0, 0);
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 19px;



}

.menu li a {
    color: #f7ece2;
}

/* GRILLA */
#app {
    background-color: #808080;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 50px 0px;
    justify-items: center;
    padding: 30px 145px 30px 145px;

}

.tarjeta_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(80%) blur(1px);
    transition: 0.5s;
}

.tarjeta img:hover {
    filter: grayscale(0);
    transform: scale(1.05);
}

.tarjeta_image {
    height: 65%;
}

.tarjeta_informacion {
    padding: 12px;
}

.tarjeta_informacion span  {
    color: #000000;
}

.tarjeta {
    height: 900px;
    width: 80%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    box-shadow: 5px 5px 5px #0000004d;
}

/* FOOTER */

footer {
    background: #f7ece2;
    padding: 1em 0 0 0;
    text-align: center;
}

.contenedor {
    padding: 15px 0px 15px 0px;
    background-color: #ff000033;
    justify-content: space-around;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        'area1 area2 area3'
    ;
}

.copy p {
    margin-top: 10px;
    font-size: 18px;
}

.social {
    width: 300px;

}

.social a {
    text-decoration: none;

}

.social__list {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-left: 0px;
}

.social__list a {
    color: #1f0d0bd8;
    font-size: 35px;

}

iframe {
    width: 100%;
    height: 100%;
}

.contact__list li {
    text-align: left;

}

.contact__list {
    padding-top: 40px;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 0px;

}

#quitar_button {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#quitar_button a {
    text-decoration: none;
    font-size: 30px;
    background-color: #ff0000;
    text-align: center;
}

#quitar_button img {
    width: 80px;
    height: 80px;
}

.tarjeta_informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}